.construction__main__title {
  font-size: 148px;
}
.construction__main__title div:nth-child(2) {
  font-weight: 500;
  color: #878787;
}

/*
* RESPONSIVE
*/
/* Extra small devices (phones, 640px and down) */
/* Small devices (portrait tablets and large phones, 640px and up) @s */
/* Large devices (laptops/desktops, 960px and up) @m */
/* Extra large devices (large laptops and desktops, 1200px and up) @l */