@media(min-width: 1531px) {
.slider-inner-item {
	height: 350px;
}
.slider-inner-item2 {
	height: 100%;
}
}

@media(min-width: 1281px) and (max-width: 1530px) {

.slider-inner-item {
	height: 50%;
}
.slider-inner-item2 {
	height: 100%;
}
.slider-inner-item h2 {
	font-size: 22px;	
	margin-bottom: 0; 
	padding-right: 0;
}
.slider-inner-item p {
	font-size: 16px;
	margin-top: 7px; 
	padding-right: 0;
}
.slider-inner-item h3 {
	font-size: 27px;	
	margin-top: 10px;
	margin-bottom: 35px;
}
.slider-item-wrapper h2 {
	font-size: 30px;	
	margin-top: 80px;
	margin-left: 80px; 
}
.slider-item-wrapper p {
	font-size: 26px;	
	margin-top: 17px;
	margin-left: 60px; 
	padding-right: 210px; 
}
}

@media(min-width: 992px) and (max-width: 1199px) {
.sidebar-menu-btn-close {
	margin-left: 230px;
}
.navigation-menu ul {
	width: 100%;
	justify-content: center;
}	
.right-navgation-bar {
	justify-content: center;
}
.carousel-text-right {
	display: none;
}
.huge-carousel-indicators {
	bottom: -40px;
}
.slider-inner-item h2, .slider-inner-item h3, .slider-inner-item p {
  	margin-left: 0;
  	text-align: center;
  	text-shadow: 2px 2px 8px #000000;
}
.online-shopping-text p {
	font-size: 13px;
}
.apply-for-us {
	margin-bottom: 0;
}

		/* Секция "Новинки"*/

.new-carousel-container .owl-dots {
	left: -242px;
}

		/* Секция "Интернет-магазин" */

.online-shopping-title h2 {
	margin-top: 40px;
}

} 

/* Для больших планшетов и компьютеров с маленьким экраном */

@media(min-width: 768px) and (max-width: 991px) {
header {
	padding: 10px 0;
}
.sidebar-menu, .sidebar-menu-wrapper, .sidebar-menu-btn, .sidebar-menu-btn-close, .contact-number {
	display: none;
}
.call-icon {
	margin-left: 0;
}
.language-switch, .icons, .icons i {
	margin-left: 10px;
}

	/* hamburger-menu-btn */

.navbar {
	position: unset;
}
.hamburger-menu-btn {
  display: block;
}
.hamburger-menu_collapse {
  background-color: #f8f8f8;
}
.navigation-menu ul {
	align-items: center;
	margin-top: 10px;
}
.navigation-menu a {
	font-size: 16px;
}

	/* Огромная карусель */


.huge-carousel-section {
	padding-top: 10px;
}
.carousel-inner-items-wrapper {
	flex-direction: column;
}
.social-network {
	bottom: -500px;
}	
.carousel-text-left {
	padding-right: 0;
	text-align: center;
}
.carousel-text-left h2, p{
	text-align: center;
}
.carousel-main-image {
	text-align: center;
	margin-top: 10px;
}
.carousel-text-right {
	display: none;
}
.huge-carousel-indicators {
	justify-content: center;
	bottom: -40px;
}

	/* Секция "Новинки" */

.carousel-stuff {
	padding-left: 5px;
	padding-right: 5px;
}
.cell-phone-special {
	padding-top: 0;
}
.carousel-stuff img {
	max-width: 100%;
	height: 177px;
}
.sale-sticker, .discount-sticker {
	top: 68px;
}
.discount-sticker {
	left: 200px;
}
.new-carousel-inicators {
  justify-content: center;
  bottom: unset;
  top: 85px;
}
.new-carousel-inner {
  display: block;
}
.new-carousel-text-left {
	padding: 0px;
}
.new-carousel-text-left h2 {
	text-align: center;
}
.new-carousel-text-left span {
	margin: 0 auto;
}
.carousel-item-goods, .new-goods-carousel_direction {
	flex-direction: row;
}

	/* Секция "Хиты продаж" */

.sale-carousel-thing-text {
	padding: 10px;
}
.sale-carousel-thing-text h2 {
	text-align: center;
}

	/* Секция "Рекомендуем вам" */

.advices-section-left-part h2 {
	font-size: 20px;
	text-align: center;
	margin: 20px 10px;
}
.advices-section-right-part img {
	height: unset;
}

	/* Секция "интернет-магазин" */

.cool-iphone img {
	max-width: 100%;
}
.online-shopping-title h2 {
	margin: 10px 20px 0 0;
	font-size: 30px;
}
.horizontal-line span {
	margin-top: 20px;
}
.online-shopping-text p {
	font-size: 12px;
	margin-top: 20px;
}
.apply-for-us {
	margin-bottom: 0;
}
.apply-for-us button {
	font-size: 14px;
	padding: 10px 12px;
}

	/* Секция "Горячие предложения" */

.slider-inner-item h2, .slider-inner-item p, .slider-inner-item h3   {
	margin-left: 0;
	margin-top: 15px;
	padding-right: 0;
	text-align: center;
	color: #222;
	text-shadow: 2px 2px 8px #000000;
}
.slider-inner-item h2 {
	font-size: 15px;
}
.slider-inner-item p {
	font-size: 12px;
}
.slider-inner-item h3 {
	font-size: 20px;
	text-shadow: 2px 2px 8px #000000;
}
.slider-item-wrapper h2 {
	font-size: 20px;
	margin: 45px 0;
	text-align: center;
	text-shadow: 2px 2px 8px #000000;
}
.slider-item-wrapper p {
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
	margin: 20px 0;
	text-shadow: 2px 2px 8px #000000;
}

	/* Формы */

.sign-up-text {
	margin-left: 5px;
}
.sign-up-text span {
	font-size: 12px;
}
.sign-up-field {
	margin-left: 20px;
}

	/* Футер */

.navigation-menu-footer ul {
	flex-direction: row;
}
.navigation-menu-footer li {
	margin-right: 10px;
}


}

	/* Для планшетов */

@media(min-width: 576px) and (max-width: 767px) {
header {
	padding: 10px 0;
}
.sidebar-menu, .sidebar-menu-wrapper, .sidebar-menu-btn, .sidebar-menu-btn-close, .contact-number, .language-switch {
	display: none;
}
.right-navgation-bar {
	justify-content: flex-end;
}
.call-icon {
	margin-left: 0;
}
.icons, .icons i {
	margin-left: 10px;
}
	/* hamburger-menu-btn */
	
.navbar {
	position: unset;
}
.hamburger-menu-btn {
  display: block;
}
.hamburger-menu_collapse {
  background-color: #f8f8f8;
}
.navigation-menu ul {
	align-items: center;
	margin-top: 10px;
}
.navigation-menu a {
	font-size: 14px;
}	

		/* Огромная карусель */

.social-network {
	z-index: 999;
}
.huge-carousel-section {
	padding-top: 10px;
}
.carousel-inner-items-wrapper {
	flex-direction: column-reverse;
}
.carousel-text-left {
	padding-right: 0;
	text-align: center;
}
.carousel-text-left h2, p{
	text-align: center;
}
.carousel-main-image {
	text-align: center;
	margin-top: 10px;
}
.carousel-text-right {
	display: none;
}
.huge-carousel-indicators {
	justify-content: center;
	bottom: -40px;
}
		
		/* Секция "Новинки" */

.carousel-stuff {
	padding-left: 5px;
	padding-right: 5px;
}
.owl-carousel .owl-item img {
	display: inline-block;
	max-width: 100%;
	width: unset;
}
.carousel-stuff img {
	max-width: 100%;
	height: 177px;
}
.sale-sticker, .discount-sticker {
	top: 68px;
}
.discount-sticker {
	left: 200px;
}
.new-carousel-inicators {
  justify-content: center;
  bottom: unset;
  top: 85px;
}
.new-carousel-inner {
  display: block;
}
.new-carousel-text-left {
	padding: 0px;
}
.new-carousel-text-left h2 {
	text-align: center;
}
.new-carousel-text-left span {
	margin: 0 auto;
}
.carousel-item-goods, .new-goods-carousel_direction {
	flex-direction: row;
}

		/* Секция "Хиты продаж" */

.sale-carousel-thing-text {
	padding: 10px;
}
.sale-carousel-thing-text h2 {
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
}
.sale-carousel-thing-text p {
	font-size: 12px;
	margin-bottom: 0px;
}

		/* Секция "Рекомендуем вам" */

.advices-section-left-part h2 {
	font-size: 16px;
	text-align: center;
	margin: 10px 5px;
}
.advices-section-left-part div {
	margin: 2px;
}
.advices-section-right-part img {
	height: unset;
}

		/* Секция "интернет-магазин" */

.cool-iphone img {
	max-width: 100%;
}
.online-shopping-title h2 {
	margin-top: 5px;
	font-size: 16px;
}
.horizontal-line {
	display: none;
}
.online-shopping-text p {
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
}
.apply-for-us {
	margin-top: 10px;
	margin-bottom: 0;
}
.apply-for-us button {
	font-size: 12px;
	padding: 4px 6px;
}
.apply-for-us img {
	margin-left: 10px;
}
.fancybox-item {
	width: 50%;
	margin: 15px auto;
}
.fancybox-text, .quantity-of-views {
	margin-top: 5px;
}
/* Секция "Горячие предложения" */

.slider-inner-item h2, .slider-inner-item p, .slider-inner-item h3   {
	margin-left: 0;
	margin-top: 15px;
	padding-right: 0;
	text-align: center;
}
.slider-inner-item h2 {
	font-size: 15px;
	text-shadow: 2px 2px 8px #000000;
}
.slider-inner-item p {
	font-size: 12px;
	color: #222;
	text-shadow: 2px 2px 8px #000000;
}
.slider-inner-item h3 {
	font-size: 20px;
	text-shadow: 2px 2px 8px #000000;
}
.slider-item-wrapper h2 {
	font-size: 20px;
	margin: 45px 0;
	text-align: center;
}
.slider-item-wrapper p {
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
	margin: 20px 0;
}

	/* Секция "Только у нас скидки" */

.red-round {
	font-size: 40px;
	padding: 20px 7px;
}
.discount-text-top, .discount-text-bottom {
	font-size: 30px;
}	

	/* Формы */

.sign-up-container {
	align-items: center;
}
.sign-up-text {
	margin-left: 5px;
	line-height: 1;
}
.sign-up-text span {
	font-size: 12px;
}
.sign-up-field {
	margin-left: 20px;
}
.sign-up-input {
	padding: 5px 20px 5px 10px;
}
.sign-up-btn {
	margin-left: 10px;
	padding: 5px 10px;
}

	/* Футер */

.navigation-menu-footer ul {
	flex-direction: row;
}
.navigation-menu-footer li {
	margin-right: 10px;
}
.navigation-menu-footer a {
	font-size: 12px;
}
.navigation-menu-footer .link-active::after {
	margin-top: 0;
}
.hot-new-goods {
  padding-top: 40px;
}

}

	/* Для мобильных телефонов с маленьким экраном */

@media(min-width: 320px) and (max-width: 575px) {
header {
	padding: 10px 0;
}
.huge-carousel-section,
.brands-section,
.new-goods,
.sale-tops,
.advices-section,
.internet-shopping,
.hot-new-goods,
.discount-section,
.sign-up {
	padding-top: 10px;
}
.sidebar-menu, .sidebar-menu-wrapper, .sidebar-menu-btn, .sidebar-menu-btn-close, .contact-number, .language-switch {
	display: none;
}
.right-navgation-bar {
	justify-content: center;
}
.call-icon {
	margin-left: 0;
}
.call-icon img {
	padding: 4px;
}
.icons, .icons i {
	margin-left: 5px;
}
	/* hamburger-menu-btn */
	
.navbar {
	position: unset;
}
.hamburger-menu-btn {
  display: block;
}
.hamburger-menu_collapse {
  background-color: #f8f8f8;
}
.navigation-menu ul {
	align-items: center;
	margin-top: 10px;
}
.navigation-menu a {
	font-size: 12px;
}	

		/* Огромная карусель */
		
.social-network {
	display: none;
}
.huge-carousel-section {
	padding-top: 10px;
}
.carousel-inner-items-wrapper {
	flex-direction: column-reverse;
}
.carousel-text-left {
	padding-right: 0;
	text-align: center;
}
.carousel-text-left h2, p {
	text-align: center;
}
.carousel-main-image {
	text-align: center;
	margin-top: 10px;
}
.carousel-main-image img {
	max-width: 100%;
}
.carousel-text-right {
	display: none;
}
.huge-carousel-indicators {
	justify-content: center;
	bottom: -40px;
}
.carousel-stuff {
	padding-left: 5px;
	padding-right: 5px;
}
.owl-carousel .owl-item img {
	display: inline-block;
	max-width: 100%;
	width: unset;
}
		/* Секция "Бренды" */

		/* Секция "Новинки" */

.carousel-stuff img {
	max-width: 100%;
	height: 177px;
}
.sale-sticker, .discount-sticker {
	top: 68px;
}
.discount-sticker {
	left: 200px;
}
.new-carousel-inicators {
    justify-content: center;
    bottom: unset;
    top: 85px;
}
.new-carousel-inner {
  display: block;
}
.new-carousel-text-left {
	padding: 0px;
}
.new-carousel-text-left h2 {
	text-align: center;
}
.new-carousel-text-left span {
	margin: 0 auto;
}
.carousel-item-goods, .new-goods-carousel_direction {
	flex-direction: row;
}
.carousel-stuff p, .carousel-stuff h3 {
	text-align: center;
}  

		/* Секция "Хиты продаж" */

.sale-carousel-wrapper {
	display: block;
}
.sale-carousel-inner-wrapper {
	display: block;
	width: 100%;
}
.sale-carousel-thing-text {
	padding: 10px;
	display: block;
	width: 100%;
}
.sale-carousel-thing-image {
	width: 100%;
}
.sale-carousel-thing-text h2 {
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
}
.sale-carousel-thing-text p {
	font-size: 12px;
	margin-bottom: 0px;
}


		/* Секция "Рекомендуем вам" */

.advices-section-items, .advices-section-left-part {
	display: block;
	max-width: 100%;
}
.advices-section-right-part {
	max-width: 100%;
}
.advices-section-left-part h2 {
	text-align: center;
	margin: 10px 5px;
}
.advices-section-left-part div {
	margin: 2px;
	max-width: 100%;
}
.advices-section-left-part img, .advices-section-right-part img {
	width: 100%;
} 

		/* Секция "интернет-магазин" */

.internet-shopping-container {
	display: block;
}
.cool-iphone {
	position: unset;
	max-width: 100%;
}
.cool-iphone img {
	max-width: 100%;
}
.online-shopping-title h2 {
	margin: 25px 10px 0 0;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.horizontal-line {
	display: none;
}
.online-shopping-text p {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 10px;
	text-align: center;
}
.apply-for-us {
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.apply-for-us button {
	font-size: 12px;
	padding: 8px 10px;
}
.apply-for-us img {
	margin-left: 10px;
}
.fancybox-item {
	width: 100%;
	margin: 15px auto;
}
.fancybox-text, .quantity-of-views {
	margin-top: 5px;
}

	/* Секция "Горячие предложения" */
.hot-new-goods {
	padding-top: 20px;
}
.slider-bottom-wrapper, .slider-item, .slider-inner-item {
	display: block;
	width: 100%;
}
.slider-inner-item h2, .slider-inner-item p, .slider-inner-item h3   {
	margin-left: 0;
	margin-top: 15px;
	padding-right: 0;
	text-align: center;
}
.slider-inner-item {
	padding: 20px 0;
}
.slider-item-wrapper {
	padding: 10px 0;
}
.slider-inner-item h2 {
	font-size: 15px;
	text-shadow: 2px 2px 8px #000000;
}
.slider-inner-item p {
	font-size: 12px;
	color: #222;
	text-shadow: 2px 2px 8px #000000;
}
.slider-inner-item h3 {
	font-size: 20px;
	text-shadow: 2px 2px 8px #000000;
	margin-bottom: 0px;
}
.slider-item-wrapper h2 {
	font-size: 20px;
	margin: 45px 0;
	text-align: center;
}
.slider-item-wrapper p {
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
	margin: 20px 0;
}

	/* Секция "Только у нас скидки" */

.discount-poster-text {
	justify-content: space-around;
}
.red-round {
	font-size: 40px;
	padding: 13px 0;
}
.discount-text {
	margin-left: 0;
}
.discount-text-top, .discount-text-bottom {
	font-size: 30px;
}	

	/* Формы */

.sign-up-container, .form-container {
	display: block;
}
.letter, .sign-up-text {
	margin: auto;
}
.sign-up-text {
	margin-left: 5px;
	line-height: 1;
}
.sign-up-text span {
	font-size: 12px;
}
.sign-up-field {
	display: block;
	margin: 10px auto;
}
.sign-up-input-container, .sign-up-button-container {
	text-align: center;
	margin-top: 5px;
}
.sign-up-input {
	padding: 5px 20px 5px 10px;
}
.sign-up-btn {
	margin-left: 10px;
	padding: 5px 10px;
}

	/* Футер */

.navigation-menu-footer {
	display: none;
}
footer {
	padding-top: 0;
}
.footer-bottom {
	padding: 10px 0;
	text-align: center;
}

	
}	



