@charset "UTF-8";
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.svg#AvenirNextCyr-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.svg#AvenirNextCyr-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.svg#AvenirNextCyr-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Italic.svg#AvenirNextCyr-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.svg#AvenirNextCyr-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr Ultra";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.svg#AvenirNextCyr-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.svg#AvenirNextCyr-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Ultra";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.svg#AvenirNextCyr-UltraLightIt") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.svg#AvenirNextCyr-DemiItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff2") format("woff2"), url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.svg#AvenirNextCyr-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
html,
body {
  overflow-x: hidden;
}

h2,
h3 {
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  /* Шапка */
}

header {
  padding: 26px 0;
 } 

 
 /* Sidebar menu */

.nav-column {
  position: unset;
}

.sidebar-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 0.0001s;
  transition: 0.0001s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sidebar-menu_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidebar-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.sidebar-menu-btn-close {
  margin-top: 26px;
  width: 59px;
  height: 59px;
  background-color: #efe5e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-menu-btn {
  width: 59px;
  height: 59px;
  background-color: #efe5e4;
  padding-top: 21px;
}

.sidebar-menu-btn span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: #534541;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-menu-btn-close i {
  color: #534541;
  font-size: 25px;
}
.logo-and-btn {
  display: flex;
  justify-content: center;
}
.main-logo {
  margin-left: 10px;
}

/* hamburger-menu */

.hamburger-menu-btn {
  display: none;
}
.hamburger-menu_collapse {
  position: absolute;
  top: 22%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9;
}
.hamburger-menu_btn {
  width: 59px;
  height: 59px;
  background-color: #efe5e4;
  padding-top: 10px;
  border-radius: 0;
}
.hamburger-menu_btn span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: #534541;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.hamburger-menu_btn i {
  font-size: 28px;
}
/* /hamburger-menu */    
/* Main navigation menu */
.navbar {
  margin: 5px 0;
}

.nav-link {
  color: #757575;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Avenir Next Cyr;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 0;
}

.link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -4px;
  background-color: #757575;
}

.contact-number {
  margin: 20px 0 0 60px;
}

.contact-numbers a {
  color: #0000ff;
  font-size: 20px;
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
}

.call-icon {
  margin: 18px 0 0 14px;
}

.call-icon img {
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 10px #e4e4e4;
          box-shadow: 0px 0px 10px #e4e4e4;
}

.icons i {
  color: #757575;
  margin-left: 30px;
}

.icons i:hover {
  opacity: 0.7;
}

.language-switch {
  margin: 21px 0 0 15px;
}

.language-switch a {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 2px;
}

.en {
  color: #757575;
}

.ru {
  text-decoration: underline;
  color: #000000;
}

.icons {
  margin: 21px 0 0 20px;
}

.icons img {
  padding: 0 10px;
}

.huge-carousel-section {
  background: #f8f8f8;
  padding: 60px 0 90px;
  /* Социальные сети */
}

.social-network {
  display: flex;
  max-width: 62px;
  position: fixed;
  right: 0;
  background-color: #e5e5e5;
  padding: 15px 0 10px;
  z-index: 999999;
}

.social-network div {
  margin-bottom: 5px;
  /* Огромная карусель */
}

.carousel-inner-items-wrapper {
  position: relative;
}

.huge-carousel-indicators {
  margin: 0;
  bottom: -15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel-indicators li {
  background-color: #7d7574;
  margin-right: 14px;
  margin-left: 0;
}

.carousel-indicators .active {
  background-color: #1109f6;
}

.carousel-text-left {
  padding-top: 45px;
  padding-right: 30px;
}

.carousel-text-left h2 {
  font-size: 51.59px;
  margin-bottom: 17px;
}

.carousel-text-left p {
  font-size: 17px;
  margin-bottom: 44px;
}

.carousel-text-left button {
  padding: 12px 30px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #d9d2d0;
  font-size: 17px;
}

.carousel-text-right {
  padding: 105px 0 0;
}

.carousel-paragraph1 {
  color: #0202ff;
  font-size: 66.81px;
  margin: 0;
}

.carousel-paragraph2 {
  color: #548809;
  font-size: 41.5px;
  margin: -30px 0 0 57px;
  /* Секция "Бренды" */
}

.brands-section {
  padding: 60px 0 0;
}

.brands-title {
  font-size: 38px;
  text-transform: uppercase;
}

/* accordion */
.card {
  text-align: center;
  background-color: #f5f5f5;
  border: none;
}

.card-header {
  padding: 15px 0;
}

.accordion > .card .card-header {
  margin-bottom: -2px;
}

.card-header h2 {
  font-size: 19px;
  color: #717171;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.arrow-down img {
  text-align: center;
}

.arrow-down {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.arrow-down_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-body {
  background-color: #ffffff;
}

.brands-logo-item {
  margin: 1px;
  width: 120px;
}

.brands-logo-item img {
  max-width: 100%;
}

.brands-logo-item:hover {
  -webkit-box-shadow: 0px 0px 5px #222;
          box-shadow: 0px 0px 5px #222;
}
  
      /* Секция "Новинки" */

.new-carousel-container .owl-dots {
  position: absolute;
  top: unset;
  bottom: 120px;
  left: -292px;
  text-align: left;
}
.sale-sticker {
  position: absolute;
  top: 90px;
  left: 40px;
  padding: 11.5px 7px;
  border: 1px #feb026 solid;
  border-radius: 50%;
  background-color: #feb026;
  color: #ffffff;
  font-size: 12px;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}

.discount-sticker {
  position: absolute;
  top: 90px;
  left: 340px;
  padding: 11.5px 6.6px;
  border: 1px #40cd64 solid;
  border-radius: 50%;
  background-color: #40cd64;
  color: #ffffff;
  font-size: 12px;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}

.new-goods {
  padding: 90px 0 0;
}
.new-carousel-text-left {
  padding-top: 145px;
  padding-right: 75px;
  z-index: 1;
  background: #ffffff;
}

.new-carousel-text-left h2 {
  font-size: 38px;
  text-transform: uppercase;
}

.new-carousel-text-left span {
  display: block;
  width: 108px;
  height: 1px;
  background-color: #7f7f7f;
  margin-bottom: 14px;
}

.new-carousel-text-left a {
  font-size: 17px;
  color: #3e3e3e;
  text-decoration: none;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}

.carousel-stuff {
  margin: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
}

.carousel-stuff:hover {
  -webkit-box-shadow: 0px 0px 10px #f1f1f1;
          box-shadow: 0px 0px 10px #f1f1f1;
}

.carousel-stuff-img {
  max-height: 190px;
}
.carousel-stuff img {
  max-width: 100%;
}

.carousel-stuff h2 {
  font-size: 17px;
  color: #3e3e3e;
  margin-top: 20px;
  text-align: center;
}

.carousel-stuff h3 {
  font-size: 25px;
  color: #3e3e3e;
  margin-top: 20px;
  text-align: left;
}

.carousel-stuff p {
  font-size: 14px;
  color: #808080;
  margin-top: 10px;
  padding-right: 15px;
  text-align: left;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}

.fa-star {
  color: #34d264;
}

.add-to-cart {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #e9e9e9;
  letter-spacing: 10px;
  padding: 5px 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.add-to-cart button {
  display: inline-block;
  max-width: 25px;
  text-align: center;
  border: none;
  background-color: #ffffff;
}

.add-to-cart input {
  max-width: 25px;
  border: none;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}
  
      /* Секция "Хиты продаж" */

.sale-tops {
  padding-top: 75px;
}

.sale-carousel-indicators {
  top: 10px;
  bottom: unset;
  justify-content: center;
}

.sale-carousel-wrapper {
  margin-top: 50px;
  display: flex;
}
.sale-carousel-inner-wrapper {
  display: flex;
  width: 50%;
}

.sale-carousel-thing-text {
  display: flex;
  width: 50%;
  padding: 75px 39px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sale-carousel-thing-image {
  width: 50%;
}
.sale-carousel-thing-image img {
  width: 100%;
}
.sale-carousel-thing-text h2 {
  font-size: 17px;
  color: #3e3e3e;
}

.sale-carousel-thing-text p {
  font-size: 14px;
  color: #808080;
  /* Секция "Рекомендуем вам" */
}

.advices-section {
  background: #f8f8f8;
  padding: 60px 0 52px;
}
.advices-section-items {
  display: flex;
}
.advices-section-left-part {
  display: flex;
  max-width: 66.66%;
}

.advices-section-left-part div {
  max-width: 48%;
  margin-right: 9px;
  margin-bottom: 18px;
}

.advices-section-left-part img {
  max-width: 100%;
}

.advices-section-left-part h2 {
  text-transform: uppercase;
  font-size: 37px;
  margin-top: 64px;
}

.advices-section-right-part {
  max-width: 33.33%;
}

.advices-section-right-part div {
  max-width: 100%;
  height: 96%;
}

.advices-section-right-part img {
  max-width: 100%;
  height: 100%;
}
  
      /* Секция "Интернет-магазин" */

.internet-shopping-container {
  display: flex;
}
.online-shopping-bottom_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.cool-iphone {
  position: absolute;
  max-width: 50%;
}
.cool-iphone img {
  width: 100%;
} 
.online-shopping-title h2 {
  margin-top: 70px;
  font-size: 45px;
  text-align: right;
}

.horizontal-line {
  text-align: right;
}

.horizontal-line span {
  height: 1px;
  width: 155px;
  background-color: #7d7574;
  display: inline-block;
  margin-top: 20px;
}

.online-shopping-text p {
  font-size: 15px;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  margin-top: 42px;
}

.apply-for-us {
  margin-top: 24px;
  text-align: right;
}

.apply-for-us button {
  display: inline-block;
  font-size: 18px;
  background-color: #0202ff;
  border: none;
  color: #ffffff;
  padding: 17px 20px;
}

.apply-for-us img {
  margin-left: 35px;
  /* Fancybox */
}
.fancybox-inner-item a {
  color: unset;
}
.fancybox-item {
  width: 33.33%;
  margin-right: -1px;
}

.fancybox-pictures {
  width: 100%;
}

.fancybox-video {
  position: relative;
}

.play-btn-wrapper {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.oven-image {
  z-index: -1;
}

.fancybox-text {
  font-family: 20px;
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 0;
}

.first-text {
  margin-left: 20px;
}

.quantity-of-views {
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.first-view {
  margin-left: 20px;
}

.quantity-of-views img {
  width: unset;
  margin-right: 5px;
  /* Секция "Горячие предложения" */
}

.hot-new-goods {
  padding-top: 90px;
}

.shopping-cart-icon {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.slider-bottom-wrapper {
  margin-top: 55px;
  display: flex;
}

.owl-carousel {
  width: 100%;
}

.owl-dots {
  position: absolute;
  top: 4px;
  left: 0;
  bottom: unset;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #7d7574;
  width: 30px;
  height: 3px;
}

.owl-theme .owl-dots .owl-dot span .active {
  background-color: #1109f6;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #1109f6;
}

.slider-bottom-wrapper a:hover {
  opacity: 0.5;
}
.slider-inner-item {
  width: 50%;
}
.slider-inner-item2 {
  width: 100%;
}
.slider-inner-item h2 {
  font-size: 17px;
  color: #3e3e3e;
  margin-top: 10px;
  margin-left: 165px;
  margin-bottom: 0;
  padding-right: 25px;
}

.slider-inner-item h3 {
  font-size: 25px;
  color: #3e3e3e;
  margin-top: 10px;
  margin-left: 165px;
  margin-bottom: 35px;
}

.slider-inner-item p {
  font-size: 14px;
  color: #808080;
  margin-top: 7px;
  margin-left: 165px;
  margin-bottom: 0;
  padding-right: 10px;
  text-align: left;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}

.slider-background1 {
  background-image: url("../img/mebel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-background2 {
  background-image: url("../img/telefon.png");
  background-repeat: no-repeat;
  background-position: 0px 20px;
  background-size: cover;
}

.slider-background3 {
  background-image: url("../img/fotoapparat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-background4 {
  background-image: url("../img/soat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-background5 {
  background-image: url("../img/chasy.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item {
  display: flex;
  width: 50%;
}
.slider-item-wrapper h2 {
  font-size: 25px;
  color: #ffffff;
  margin-top: 45px;
  margin-left: 50px;
}

.slider-item-wrapper p {
  font-size: 21px;
  color: #ffffff;
  margin-top: 17px;
  margin-left: 30px;
  padding-right: 210px;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  /* Секция "Только у нас скидка" */
}

.discount-section {
  padding-top: 60px;
}

.discount-poster {
  padding: 40px 0 30px;
  background-image: url("../img/discount-image.png");
  background-size: cover;
}

.red-round {
  color: #ffffff;
  font-size: 70px;
  border: 1px solid #be1f2e;
  background-color: #be1f2e;
  border-radius: 50%;
  padding: 31.5px 8px 31.5px 10.5px;
  margin-left: 15px;
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
}

.discount-text {
  margin-bottom: 0;
  margin-left: 75px;
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
}

.discount-text-top {
  color: #ffffff;
  font-size: 56px;
}

.discount-text-bottom {
  color: #be1f2e;
  font-size: 57px;
  /* Формы */
}

.sign-up {
  padding-top: 30px;
}
.sign-up-container {
  display: flex;
  justify-content: space-between;
}
.sign-up-for-free-delivery {
  display: flex;
}
.sign-up-text span {
  font-size: 20px;
  font-family: Avenir Next Cyr;
  font-style: normal;
}

.sign-up-text {
  margin-left: 20px;
}

.sign-up-text-bold {
  font-weight: bold;
}

.sign-up-text-regular {
  margin-left: 5px;
  font-weight: normal;
}

.sign-up-field {
  display: flex;
  margin-left: 70px;  
}
.form-container {
  display: flex;
}
.sign-up-input {
  max-width: 100%;
  padding: 14.5px 52px 14.5px 24px;
  border: 1px solid #e8e8e8;
}

.sign-up-input::-webkit-input-placeholder {
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: #7c7c7c;
}

.sign-up-input:-ms-input-placeholder {
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: #7c7c7c;
}

.sign-up-input::-ms-input-placeholder {
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: #7c7c7c;
}

.sign-up-input::placeholder {
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: #7c7c7c;
}

.sign-up-btn {
  margin-left: 20px;
  font-family: Avenir Next Cyr;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  background-color: #21ec21;
  padding: 14px 16px 14px 21px;
  border: none;
  /* Футер */
}

footer {
  padding-top: 22px;
}

.footer-bottom {
  font-size: 15px;
  color: #3e3e3e;
  padding-top: 17px;
  padding-bottom: 34px;
  font-family: Avenir Next Cyr;
  font-weight: normal;
  font-style: normal;
}
