@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

